.pokecard {
    background-color: grey;
    width: 350px;
    padding: 10px;
    margin: 2rem;
    border-radius: 5px;
    text-align: center;
}

.pokecard-title {
    color: blue;
    font-weight: 650;
    font-size: 1.5rem;
}

.pokecard-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    border-radius: 5px;
    margin: 1rem;
}